body{
    box-sizing: border-box;
    postition: absolute;
    margin: 30px 0 30px 30px;
}
canvas{
    width: 80%;
    height: 80%;
    background: #000000;
    margin: 50px;
    padding: 0;
    justify-content: center;
}
div{
    /*justify-content: center;*/
}